In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
df = pd.read_csv('/content/drive/MyDrive/Classroom/Advanced Data Analytics/Nasratullah Shafiq - DIKW_HW_Activity.csv')

In [13]:
df

,EmployeeID,EmployeeName,Department,JoiningDate,Salary,Gender,Country,PerformanceScore,JobSatisfaction
0,E001,James Wilson,Sales,2022-01-15,50000,Male,USA,85,4
1,E002,Maria Garcia,Engineering,2021-03-12,75000,Female,UK,92,5
2,E003,Robert Brown,HR,2020-06-23,60000,Male,Canada,88,4
3,E004,Emily Davis,Engineering,2021-11-05,72000,Female,USA,79,3
4,E005,Michael Johnson,Marketing,2022-05-20,65000,Male,Australia,83,4

In [14]:
average_salary = df.groupby("Department")["Salary"].mean()

# Number of employees in each country
employee_count = df["Country"].value_counts()

# Average performance score
average_performance_score = df["PerformanceScore"].mean()

# Output the results
print("Average Salary by Department:")
print(average_salary)
print("\nEmployee Count by Country:")
print(employee_count)
print("\nAverage Performance Score for All Employees:")
print(average_performance_score)

Average Salary by Department:
Department
Engineering    73500.0
HR             60000.0
Marketing      65000.0
Sales          50000.0
Name: Salary, dtype: float64

Employee Count by Country:
Country
USA          2
UK           1
Canada       1
Australia    1
Name: count, dtype: int64

Average Performance Score for All Employees:
85.4

In [26]:
highest_perf = df.groupby("Department")["PerformanceScore"].mean().idxmax()
print(f"The department with the highest average performance score is: {highest_perf}")

The department with the highest average performance score is: HR

Specialized Skills and Training:

The department may provide employees with advanced training and resources, ensuring they are highly skilled and efficient in their roles.
Strong Leadership:

Effective leaders who set clear goals and provide constructive feedback can motivate employees to perform better.
Team Collaboration:

A collaborative team environment often leads to innovation, problem-solving, and improved performance.
Role Alignment:

Employees may have roles that align with their skills, interests, and career goals, leading to higher engagement and productivity.
Recognition and Incentives

In [27]:
most_satisfied = df.groupby("Country")["JobSatisfaction"].mean().idxmax()
print(f"The country with the most satisfied employees is: {most_satisfied}")

The country with the most satisfied employees is: UK

this is because in the UK the job satisfaction rate is high then. other countries.

In [19]:
gender_salary_diff = df.groupby("Gender")["Salary"].mean()
print(gender_salary_diff)

Gender
Female    73500.000000
Male      58333.333333
Name: Salary, dtype: float64